@import '~antd/dist/antd.less';

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
}

.app-header {

  .logo {
    height: 25px;
    img {
      width: auto;
      height: 80%;
      object-fit: cover;
    }
  }

}

.arcado-passphrase {
  height: 45px;
}

// COLOR

.bgc-black {
  background-color: #000;
}

.bgc-lb {
  background-color: #333333;
}

.bgc-white {
  background-color: #fff;
}

.bgc-lgrey {
  background-color: #ccc;
}

.bgc-lblue {
  background-color: #f9fbfc;
}

.bgc-primary {
  background-color: @primary-color;
}

.fc-primary {
  color: @primary-color;
}

.fc-black {
  color: #000;
}

.fc-white {
  color: #fff;
}

.fc-lgrey {
  color: #999999;
}

.fc-red {
  color: #e00202;
}

// SIZING

.h60--fixed {
  height: 60px;
}

.h100 {
  height: 100%;
}

.grid {
  width: 1024px;
  margin: auto;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w20 {
  width: 20%;
}

.img--150 {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.h150--fixed {
  height: 150px;
}


.w175--fixed {
  width: 175px;
}

.w250--fixed {
  width: 250px;
}

.h225--fixed {
  height: 200px;
}


.fs-xs {
  font-size: 0.7em;
}
.fs-s {
  font-size: 0.90em;
}
.fs-n {
  font-size: 1em;
}
.fs-m {
  font-size: 1.1em;
}
.fs-xm {
  font-size: 1.25em;
}
.fs-xxm {
  font-size: 1.4em;
}
.fs-l {
  font-size: 1.55em;
}
.fs-xl {
  font-size: 1.95em;
}

.fs-xxl {
  font-size: 2.75em;
}

.ffm-bold {
  font-weight: bold;
}

// SPACING

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mt25 {
  margin-top: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.mt50 {
  margin-top: 50px;
}

.mt75 {
  margin-top: 75px;
}

.ml50 {
  margin-left: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.mr50 {
  margin-right: 50px;
}

.ml-auto {
  margin-left: auto;
}

.ml15 {
  margin-left: 15px;
}

.mr15 {
  margin-right: 15px;
}

.pb10 {
  padding-bottom: 10px;
}

.p15 {
  padding: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pr25 {
  padding-right: 25px;
}

.pl25 {
  padding-left: 25px;
}

// POSITIONING

.flex-c {
  display: flex;
  align-items: center;
}
.flex-fs {
  display: flex;
  align-items: flex-start;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.grid-col2 {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  grid-gap: 1.5%;
  grid-auto-rows: max-content;
}

.grid-col3 {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-gap: 2%;
}

.grid-col4 {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2%;
}

.grid-col5 {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 2%;
}

.click {
  cursor: pointer;
}

.arcado-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #efefef;
}

.br-b {
  border-bottom: 1px solid #efefef;
}


.br {
  border: 1px solid #efefef;
}

.br5 {
  border-radius: 5px;
}

.br-c-primary {
  border-color: @primary-color;
}

.br-c-trans {
  border-color: transparent;
}

.pie-chart {
  width: 100px;
  height: 100px;
}

.txt-ac {
  text-align: center;
}

.txt-ar {
  text-align: right;
}

input {
  width: 100%;
  padding: 4px 11px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  box-shadow: none;

  &:hover {
    border-color: #40a9ff;
  }

  &.error-input:focus {
    border-color: #e00202!important;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2)!important;
    box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2)!important;
  }

  &:focus {
    border-color: #40a9ff;
    border-right-width: 1px!important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
  }
}


